<div class="container-fluid seccion" *ngIf="loginService.getUserLogged()">
    <div class="row">
        <div class="col-sm-11">
          <h3>Proyectos</h3>
        </div>
        <div class="col-sm-1" *ngIf="loginService.modoEdicion">
          <button type="button" class="bi bi-plus-square"
              title="agregar" 
              (click)="agrega()" id="btnAgregar">
          </button>
        </div>
    </div>

    <div>
      <ol *ngFor="let proy of proyecto"
          style= "list-style-type: none;">
          <li>
              <div class="row">
                  <div class="col-sm-3">
                      <img class="small-img" src="{{ proy.urlLogo}}"
                      onerror= "this.src='../assets/images/unimg.png'" 
                      alt="{{proy.proyecto}}">
                  </div>
                  <div class="col-sm-8">
                    <h3>{{proy.proyecto}}</h3>
                    <span *ngIf="proy.fechaInicio != null">
                        {{proy.fechaInicio | date:'yyyy'}} - </span>
                    <span *ngIf="proy.fechaInicio == null">desde: sin datos - </span>
                    <span *ngIf="proy.fechaFin != null">
                        {{proy.fechaFin | date:'yyyy'}}
                        <br> {{proy.descripcion}} </span>
                    <span *ngIf="proy.fechaFin == null">hasta: sin datos 
                        <br> {{proy.descripcion}} </span>
                    <span><a class="enlace-estilo" href="{{proy.url}}" target="_blank">{{proy.url}}</a></span>
                  </div>
                  <div class="col-sm-1">
                    <button type="button" class="bi bi-pencil-square"
                        title="modificar" 
                        *ngIf="loginService.modoEdicion"
                        (click)="modifica(proy.id)">
                    </button>
                    <button type="button" class="bi bi-trash mt-3"
                        title="eliminar" 
                        *ngIf="loginService.modoEdicion"
                        (click)="elimina(proy.id)">
                    </button>
                  </div>
              </div>
          </li>
      </ol>
    </div>
</div>
