<div class="container-fluid seccion">
    <div class="row">
        <div class="col-sm-11">
          <h3>Proyectos</h3>
        </div>
        <div class="col-sm-1">
          <a href="#">
            <i class="bi bi-plus-square" title="agregar"
            *ngIf="loginService.modoEdicion"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img class="small-img" src="../assets/images/developer.png" alt="Desarrollo web">
        </div>
        <div class="col-sm-8">
          <h3>Full Stack Web Jr.</h3>
          <span>Argentina Programa -curso: #Yo Programo3 -desarrollo de portfolio web [2022]</span>
          <span><a class="enlace-estilo" href="https://github.com/HectorBarotto" target="_blank">GitHub: portfolio</a></span>
        </div>
        <div class="col-sm-1">
          <a href="#">
            <i class="bi bi-pencil-square" title="editar"
            *ngIf="loginService.modoEdicion"></i>
          </a>
          <a href="#">
            <i class="bi bi-trash" title="eliminar"
            *ngIf="loginService.modoEdicion"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img class="small-img" src="../assets/images/java.png" alt="Java app-desktop">
        </div>
        <div class="col-sm-8">
          <h3>Java - MySql</h3>
          <p>Desarrollo completo de gestión comercial [2019-2021] </p>
        </div>
        <div class="col-sm-1">
          <a href="#">
            <i class="bi bi-pencil-square" title="editar"
            *ngIf="loginService.modoEdicion"></i>
          </a>
          <a href="#">
            <i class="bi bi-trash" title="eliminar"
            *ngIf="loginService.modoEdicion"></i>
          </a>
        </div>
      </div>
</div>
