<div class="container-fluid seccion" *ngIf="loginService.getUserLogged()">
    <div class="row">
        <div class="col-sm-11">
          <h3>Experiencia</h3>
        </div>
        <div class="col-sm-1">
          <a href="#">
            <i class="bi bi-plus-square" title="agregar"
            *ngIf="loginService.modoEdicion"></i>
          </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img class="small-img" src="../assets/images/desktop_development.png" alt="Desktop applications development">
        </div>
        <div class="col-sm-8">
            <h3>Desktop Application Developer</h3>
            <p>2005 - actualidad <br> Desarrollo independiente de aplicaciones para gestión comercial </p>
        </div>
        <div class="col-sm-1">
            <a href="#">
            <i class="bi bi-pencil-square" title="editar"
            *ngIf="loginService.modoEdicion"></i>
            </a>
            <a href="#">
            <i class="bi bi-trash" title="eliminar"
            *ngIf="loginService.modoEdicion"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img class="small-img" src="../assets/images/web_developer.png" alt="web_developer">
        </div>
        <div class="col-sm-8">
            <h3>Full Stack Developer Jr. -future</h3>
            <p>Actualmente haciendo los primeros pasos en el desarrollo web </p>
        </div>
        <div class="col-sm-1">
            <a href="#">
            <i class="bi bi-pencil-square" title="editar"
            *ngIf="loginService.modoEdicion"></i>
            </a>
            <a href="#">
            <i class="bi bi-trash" title="eliminar"
            *ngIf="loginService.modoEdicion"></i>
            </a>
        </div>
    </div>
</div>
