<div class="container-fluid seccion" *ngIf="loginService.getUserLogged()">
  <div class="row">
      <div class="col-sm-11">
        <h3>Habilidades</h3>
      </div>
      <div class="col-sm-1" *ngIf="loginService.modoEdicion">
        <button type="button" class="bi bi-plus-square"
            title="agregar" 
            (click)="agrega()" id="btnAgregar">
        </button>
      </div>

      <ol *ngFor="let hab of habilidades"
          style= "list-style-type: none;">
        <li>
          <div class="col-12 skills add-del-skills">
            <div class="col-10">
              <p>{{hab.descripcion}}</p>
              <div class="skills" role="progressbar" aria-valuemin="0"
                aria-valuemax="100" style="--value:{{hab.nivel}}">
              </div>
            </div>
            <div class="col-2">
              <button type="button" class="bi bi-pencil-square"
                  title="modificar" 
                  *ngIf="loginService.modoEdicion"
                  (click)="modifica(hab.id)">
              </button>
              <button type="button" class="bi bi-trash mt-3"
                  title="eliminar" 
                  *ngIf="loginService.modoEdicion"
                  (click)="elimina(hab.id)">
              </button>
            </div>
          </div>
        </li>
      </ol>
  </div>
</div>
