/*Habilidades*/
.add-del-skills{
    float: left;
    display: flex;
  }
  @keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  div[role="progressbar"] {
    --size: 5rem;
    --fg: green;
    --bg: lightgray;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  
  .skills{
    background-color: rgba(0, 0, 0, 0.277);
    border: solid thin black;
    border-radius:10px;
    padding: 5px;
    margin: 5px;
    max-width: 90%;
  }

  .bi-trash{
    margin-left: 10px;
  }
  /*fín habilidades*/