.del-contacto{
    float: left;
    display: flex;
  }
.contacto{
    background-color: rgba(0, 0, 0, 0.277);
    border: solid thin black;
    border-radius:10px;
    padding: 5px;
    margin: 5px;
    max-width: 90%;
  }

  .bi-trash{
    margin-left: 10px;
  }