<div class="container-fluid seccion">
    <div>
        <img src="../assets/images/perfil.png" 
            class="rounded-circle {{styleInHome}} img-perfil"
            title="image farm"
            alt="mi perfil"/>
        <a href="#">
            <i class="bi bi-pencil-square" title="editar" 
            *ngIf="loginService.modoEdicion"></i>
        </a>
    </div>
    <div id="contenedor-Info">
        <div>
            <h3>Héctor M. Barotto</h3>
            <ul type="circle">
                <li>Informático</li>
                <li>Técnico Impositivo Contable</li>
            </ul>
        </div>
        <div>
            <img src="../assets/images/inst20.png"  class="small-img" alt="Intituto ISFDyT Nº20S">
            <h5>Instituto Superior de Formación <br> Docente y Técnica nº20 JUNIN(B)</h5>
        </div>
    </div>
    <div id="info-contact">
        <span>JUNIN(Pcia.BsAs-Argentina) </span>
        <span><a class="enlace-estilo" href="#">Información de contacto</a></span>
    </div>
    
    <div class="container-fluid seccion"> <!-- Info Acerca de -->
        <div class="row">
            <div class="col-sm-11">
            <h3>Acerca de</h3>
            <div><p>Técnico impositivo-contable con desarrollos en c#, Java, MySQL</p></div>
        </div>
        <div class="col-sm-1">
            <a href="#">
                <i class="bi bi-pencil-square" title="editar" 
                *ngIf="loginService.modoEdicion"></i>
            </a>
        </div>
    </div>
</div>


